/*---- mini resets ------*/

// -webkit-tap-highlight-color: rgba(0,0,0,0);

// Remove tap highlight on iOS
html,
body,
div,
input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}


/*----group clear fix ------*/

.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  *zoom: 1;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak, .ng-hide {
    display: none !important;
}

html {
  margin: 0;
  padding: 0;
  font-family: "Helvetica", Helvetica;
  text-align: center;
  color: $light-font-color;
  font-size: 16px;
  @include text-shadow;
  box-sizing: border-box;
  background-color: yellow;
  height: 100%;
  overflow: hidden;

}

body{
  // display: inline-block;
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  background-color: white;
  overflow: hidden;
  min-width: 540px;
}

// #main-menu-button{
//   @include setup-tab(10em);
//   background-color: $menu-color;
//   color: $light-font-color;
//   float: right;
// }

// #main-menu{
//   background-color: black;
//   display: inline-block;
//   width: 200px;
//   height: 300px;
//   position: fixed;
//   top: $top-bar-height;
//   right: 0px;
//   border: 1px solid white;
// }

.login-bar{
  display: inline-block;
  width: 100%;
  height: 4rem;
  background-color: cyan;

}

.css-form input.ng-invalid.ng-touched {
  background-color: #FA787E;
}

/*.css-form input.ng-valid.ng-touched {
  background-color: #78FA89;
}*/

.login-bar-confirm{
  display: inline-block;
  width: auto;
  height: 100%;
}

#login-bar-error{
  display: inline-block;
  width: 100%;
  height: 1.2rem;
  color: red;
  font-weight: bold;
}


#main-view{
  display: flex;
  height: 100%;
  width: 100%;
  // padding-bottom: $top-bar-height;
  // margin-top: -2rem;


}

@mixin main-views{
  display: inline-block;
  position: relative;
  height: 100%;
  width: 49%;
  overflow: hidden;
  // border: 1px solid red;
}

#main-view-primary{
  @include main-views;
  // background-color: $title-color;
}



#main-view-secondary{
  @include main-views;
  // background-color: $menu-color;
}












