@mixin hide-titles{
  .selected-title{
    display: none;
  }
  .toolbar-title{
    display: none;
  }
  [class*='-tab'], .toolbar-button{
    justify-content: center;
  }
}


@mixin stack-views{
  #main-view-middle{
    display: none;
  }
  #main-view{
    flex-direction: column;
  }
  #main-view-primary{
    // display: block;
    width: 100%;
    height: 50%;
  }
   #main-view-secondary{
    // display: block;
    width: 100%;
    height: 50%;
  }
}

@mixin pump-size-and-padding{
  body{
    font-size: 18px;
  }
  tfr{
    padding: 0.5em 0 0.5em 0;
  }
}

@media all and (orientation: portrait){
  @include stack-views;

  @media all and (max-width: 767px){
    @include hide-titles;
  }
}

@media all and (orientation: landscape){

  @media all and (max-width: 959px){
    @include hide-titles;
  }

}

// @media screen and (max-width: 959px){

//   body{
//     // background-color: red;
//     font-size: 16px;
//   }
// }

body.zoom-view{
  @include pump-size-and-padding;
}

// @media screen and (max-width: 1280px){

//     body{
//       font-size: 14px;
//     }
// }






