$middle-width: 2em;
$middle-width-stacked: 0.5em;
$copy-button-width: 16em;
$copy-button-height:  2.5em;


#main-view-middle{
  display: inline-block;
  height: 100%;
  width: $middle-width;
  margin: 0;
  padding: 0;
  position: relative;
  text-align: center;
  // @include inner-shadow;
  background-color: rgba(0,0,0,0.05);
}


.table-copy-button{
  display: inline-flex;
  position: absolute;
  //bottom: $section-after-table-height;
  bottom: 0;
  width: $copy-button-width;
  left: -1 * ( ($copy-button-width / 2) - ($middle-width / 2) );
  height: $copy-button-height;
  @include button-top-border-radius($big-button-radius);
  background-color: transparent;
  z-index: 100;
  // overflow: hidden;
  // border-left: 1em solid rgba(0,0,0,0.3);
  // border-right: 1em solid rgba(0,0,0,0.3);
  // border-top: 1em solid rgba(0,0,0,0.3);

}

@mixin table-copy-slider{
  display: inline-flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  align-content: center;
  // top: $section-after-table-height;
  width: $copy-button-width / 2;
  //height: $copy-button-height;
}

.table-copy-slider-primary{
  @include table-copy-slider;
  justify-content: flex-end;
  border-right: 1px solid white;
  @include border-radius-simple($big-button-radius, 0, 0 , 0  );
}

.table-copy-slider-secondary{
  @include table-copy-slider;
  justify-content: flex-start;
  border-left: 1px solid transparent;
  @include border-radius-simple(0, $big-button-radius, 0 , 0  );
}

  .table-copy-show-portrait{
    display: inline-block;

  }

  .table-copy-show-landscape{
    display: none;
  }

  .table-copy-text{
    color: inherit;
  }

  .toolbars-same-type{
    color: white;
  }

  .toolbars-not-same-type{
    color: gray;
  }

@mixin copy-button-landscape{
  #main-view-middle{
    background-color: transparent;
    position: absolute;
    width: 0;
    height: 50%;
    right: 0;
    text-align: center;
    overflow: visible;
    // z-index: -100;
  }


// var theFunctionIWantBoundToThis = function(){ //stuff };
// var that = this;

// var myWrappedFunction = function(){
//   theFunctionIWantBoundToThis.call(that);
// };

// setTimeout(myWrappedFunction, someAmountOfTime);

  .table-copy-button{
    display: block;
    position: absolute;
    width: 0;
    height: 100%;
    overflow: visible;
    bottom: auto;
    top: auto;
    right: 0;
    left: auto;

  }

  .table-copy-slider-primary{

    position: relative;
    width: $copy-button-width/2;
    height: $copy-button-height;
    @include border-radius-simple($big-button-radius, 0, 0 , 0  );
    justify-content: flex-start;
    top: -1 * $copy-button-height;
    right: $copy-button-width/2;
    z-index: 999;
  }

  .table-copy-slider-secondary{

    position: fixed;
    width: $copy-button-width /2;
    height: $copy-button-height;
    bottom: 0;
    right: 0;
    z-index: 999;
    @include border-radius-simple($big-button-radius, 0, 0 , 0  );
  }

  .table-copy-show-portrait{
    display: none;
  }

  .table-copy-show-landscape{
    display: inline-block;
  }


}
