
.users{
  background-color: $users-color;
}

.groups{
  background-color: $groups-color;
}

.events{
  background-color: $events-color;
}

.lists{
  background-color: $lists-color;
}

.guests{
  background-color: $guests-color;
}

.messages{
  background-color: $messages-color;
}

.home, .title{
  background-color: $title-color;
}

.menu{
  background-color: $menu-color;
}

.edit{
  background-color: $edit-color;
}

.org{
  background-color: $org-color;
}

.start{
  background-color: $start-color;
}



.round-top{
  @include border-radius-simple($big-radius, 0, $big-radius, 0);
}

.round-bottom{
  @include border-radius-simple(0, $big-radius, 0, $big-radius);
}

.round-all{
  @include border-radius-simple($big-radius, $big-radius, $big-radius, $big-radius);
}


//darkened

// .users-dark{
//   background-color: specific-color-blacker(get-color-map("users"), 0.3);
// }

// .groups-dark{
//   background-color: specific-color-blacker(get-color-map("groups"), 0.3);
// }

// .events-dark{
//   background-color: specific-color-blacker(get-color-map("events"), 0.3);
// }

// .lists-dark{
//   background-color: specific-color-blacker(get-color-map("lists"), 0.3);
// }

// .messages-dark{
//   background-color: specific-color-blacker(get-color-map("messages"), 0.3);
// }

// .home-dark, .title-dark{
//   background-color: specific-color-blacker(get-color-map("title"), 0.3);
// }

// .menu-dark{
//   background-color: specific-color-blacker(get-color-map("menu"), 0.3);
// }

// .edit-dark{
//   background-color: specific-color-blacker(get-color-map("edit"), 0.3);
// }



