
.users{
  background-color: $users-color;
}

.groups{
  background-color: $groups-color;
}

.events{
  background-color: $events-color;
}

.lists{
  background-color: $lists-color;
}

.messages{
  background-color: $messages-color;
}

.home, .title{
  background-color: $title-color;
}

.menu{
  background-color: $menu-color;
}

.edit{
  background-color: $edit;
}


