
.users{
  background-color: blue;
}

.groups{
  background-color: red;
}

.events{
  background-color: orange;
}

.lists{
  background-color: green;
}

.messages{
  background-color: gray;
}

.edit{
  background-color: rgba(0,0,0,0.3);
}


