$top-bar-height: 4rem;
$big-button-radius: 10px;
$small-button-radius: 5px;

@mixin button-top-border-radius($radius) {
          -webkit-border-top-left-radius: $radius $radius;
          -webkit-border-top-right-radius: $radius $radius;
          -moz-border-border-top-left-radius: $radius $radius;
          -moz-border-border-top-right-radius: $radius $radius;
          -ms-border-top-left-radius: $radius $radius;
          -ms-border-top-right-radius: $radius $radius;
          border-top-left-radius: $radius $radius;
          border-top-right-radius: $radius $radius;
}

@mixin btn($h:auto, $w:auto, $bgC: gray, $txtC: black ){

  width: $w;
  height: $h;
  color: $txtC;
  background-color: $bgC;


  &:active{
    color: red;
  }

}

btn{
  display: inline-flex;
  justify-content: center;
  align-items: center;
}


@mixin setup-tab-bar($h:$top-bar-height){
  display: inline-block;
  height: $h;
  width: 100%;
  padding-top: $h * .25;
}


@mixin setup-tab($w, $fs:1em){
  height: 100%;
  width: $w;
  font-size: $fs;
  vertical-align:top;
  @include button-top-border-radius($big-button-radius);
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  overflow: hidden;

}


.nav{
  height: $top-bar-height - 1rem;

}


.app-title{
  float: left;
  @include setup-tab(10rem);
  background-color: $title-color;
}



.home-tab{
  @include setup-tab(12%);
}

.menu-tab{
  @include setup-tab(12%);
}


.selected-tab{
  @include setup-tab(21.5%);
  // flex-basis: 0;
}

.selected-tab.active{

}

.selection-bar{
  @include setup-tab-bar();
}

.toolbar{
  @include setup-tab-bar()

}

.toolbar-button{
  @include setup-tab(18%)

}

.active-toolbar-button{

}

.home-icon{
  @include bg-img-center-contain("home_white_shadow");

}

.users-icon{
  @include bg-img-center-contain("menu_white_shadow");
}

.menu-icon{
  @include bg-img-center-contain("menu_white_shadow");
}

.groups-icon{
  @include bg-img-center-contain("group_white_shadow");
}

.events-icon{
  @include bg-img-center-contain("event_white_shadow");
}

.lists-icon{
  @include bg-img-center-contain("list_white_shadow");
}

.guests-icon{
  @include bg-img-center-contain("guest_white_shadow");
}

.messages-icon{
  @include bg-img-center-contain("messages_white_shadow");
}

.selected-icon{
  display: inline-block;
  margin-left: 0.2em;
  margin-right: 0.2em;
  // margin-left: -0.75em;
  // flex-basis: 0;
  width: 2em;
  // height: 2em;
}

.toolbar-icon{
  display: inline-block;
  margin-left: 0.2em;
  margin-right: 0.2em;
  // margin-left: -0.75em;
  // flex-basis: 0;
  width: 2em;
  // height: 2em;
}
