$top-bar-height: $divider-height;
$big-button-radius: $big-radius;
$small-button-radius: $small-radius;

@mixin button-top-border-radius($radius) {
          @include border-radius-simple($radius, $radius);
}

@mixin btn($h:auto, $w:auto, $bgC: gray, $txtC: black ){

  width: $w;
  height: $h;
  color: $txtC;
  background-color: $bgC;


  &:active{
    color: red;
  }

}

btn{
  display: inline-flex;
  justify-content: center;
  align-items: center;
}


@mixin setup-tab-bar($h:$top-bar-height){
  display: inline-block;
  height: $h;
  width: 100%;
  padding-top: $h * .25;
}


@mixin setup-tab($w, $fs:1em){
  height: 100%;
  width: $w;
  font-size: $fs;
  vertical-align:top;
  @include button-top-border-radius($big-button-radius);
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  overflow: hidden;
  // text-overflow: "-";
  // white-space: nowrap;

}

tabs-view{
  width: 100%;
  height: 100%;
}

.selection-holder{
  display: block;
  height: 100%;
  width: 100%;
}

.tab-holder{
  display: block;
  height: 100%;
  width: 100%;
}


.nav{
  height: $top-bar-height - 1rem;

}


.app-title{
  float: left;
  @include setup-tab(10rem);
  background-color: $title-color;
}

.selected-tab{
  @include setup-tab(21.5%);
  // flex-basis: 0;
}

.selected-home-tab{
  @include setup-tab(12%);
  justify-content: center;
}

.selected-menu-tab{
  @include setup-tab(12%);
  justify-content: center;
}


.selection-bar{
  @include setup-tab-bar();
}

.toolbar{
  @include setup-tab-bar()

}

.toolbar-button{
  @include setup-tab(18%)

}


.home-icon{
  @include bg-img-center-contain("home_white_shadow");

}

.users-icon{
  @include bg-img-center-contain("folders_white_shadow");
}

.menu-icon{
  @include bg-img-center-contain("menu_round_white_shadow");
}

.groups-icon{
  @include bg-img-center-contain("group_white_shadow");
}

.events-icon{
  @include bg-img-center-contain("event_white_shadow");
}

.lists-icon{
  @include bg-img-center-contain("list_white_shadow");
}

.guests-icon{
  @include bg-img-center-contain("guest_white_shadow");
}

.messages-icon{
  @include bg-img-center-contain("messages_white_shadow");
}

.edit-icon{
  @include bg-img-center-contain("gear_white_shadow");
}



.selected-icon{
  display: inline-block;
  margin-left: 0.2em;
  margin-right: 0.2em;
  // margin-left: -0.75em;
  // flex-basis: 0;
  width: 2em;
  // height: 2em;
}

.toolbar-icon{
  display: inline-block;
  margin-left: 0.2em;
  margin-right: 0.2em;
  // margin-left: -0.75em;
  // flex-basis: 0;
  width: 2em;
  // height: 2em;
}

.menu-icon, .home-icon{
  margin-left: 0.2em;
  margin-right: 0.2em;
  // margin-left: -0.75em;
  // flex-basis: 0;
  width: 50%;
}
