
<div ng-controller="GroupsController" class="group-html">
SELECTED GROUP
    <div class="selected-group"></div>

      <div id="toolbar-{{pOrS}}" class="toolbar">
        <div class="users-toolbar-button toolbar-button" ng-click="groups.showUsers(pOrS)">USERS</div>
        <div  class="events-toolbar-button toolbar-button" ng-click="groups.showEvents(pOrS)">EVENTS</div>
        <div  class="lists-toolbar-button toolbar-button" ng-click="groups.showLists(pOrS)">LISTS</div>
        <div  class="guests-toolbar-buttn toolbar-button" ng-click="groups.showGuests(pOrS)">GUESTS</div>
        <div class="messages-toolbar-button toolbar-button" ng-click="groups.showMessages(pOrS)">MESSAGES</div>
      </div>


</div>



