<controller ng-controller="GuestsController" class="guests guest-html">
  <div class="toolbar guests">

    <div ng-class="{'active-toolbar-button': guests[pOrS].currentToolbarButton === 'messages'}" class="messages messages-toolbar-button toolbar-button" ng-click="guests[pOrS].currentToolbarButton = 'messages'">
      <div class="messages-icon toolbar-icon"></div><div class="toolbar-title">{{dispatch.names.messages}}</div>
    </div>
    <div ng-class="{'active-toolbar-button': guests[pOrS].currentToolbarButton === 'edit'}" class="edit edit-toolbar-button toolbar-button" ng-click="guests[pOrS].currentToolbarButton = 'edit'">
      <div class="edit-icon toolbar-icon"></div><div class="toolbar-title">{{dispatch.names.edit}}</div>
    </div>
  </div>

  <div ng-switch="guests[pOrS].currentToolbarButton" class="fill-parent-reducer">
    <div ng-switch-when="edit" class="edit">
      EDIT EVENT MENU - save button - cancel button
    </div>
    <messages-dir ng-switch-when="messages"></messages-dir>
  </div>
</controller>
