<div ng-controller="ListsController" class="lists-html">

<div ng-show="conSec.fileInput.data">THERE IS A FILE LOADED</div>
<div ng-show="lists[pOrS].currentList">THERE IS A LIST SELECTED</div>
<br>
<div class="lists-toolbar"> ALL LISTS TOOLBAR </div><br>

<h1>ADD CSV FILE TO MAKE NEW LIST</h1>

<file-input con-sec="conSec" current="lists[pOrS]"></file-input>
<div ng-show="conSec.fileInput.data">
GUESt LIST import TABLE

  <div ng-show="conSec.fileInput.err">
  CSV IMPORT HAD ERRORS
  </div>

  <input type="search" ng-model="listFilterFile" placeholder="filter..." aria-label="filter..." />
  <table class="list-table">
    <tr>
      <th>.\/.</th>
      <th ng-click="listTableOrder('name')">Guest Name<span ng-show="listTableSort ==='name'">^^</span></th>
      <th ng-click="listTableOrder('location')">Location<span ng-show="listTableSort ==='location'">^^</span></th>
      <th ng-click="listTableOrder('standing')">SCALE<span ng-show="listTableSort ==='standing'">^^</span></th>
      <th ng-click="listTableOrder('isawesome')">OTHER<span ng-show="listTableSort ==='isawesome'">^^</span></th>
    </tr>
    <tr ng-repeat="guest in conSec.fileInput.data | orderBy: listTableSort:listTableSortReverse | filter:listFilterFile as results">
    <td><button ng-click="lists[pOrS].currentGuest = guest.name" ng-show="lists[pOrS].currentGuest !== guest.name">SELECT</button><span ng-show="lists[pOrS].currentGuest === guest.name">ACTIVE</span></td>
      <td>{{guest.name}}</td>
      <td>{{guest.location}}</td>
      <td>{{guest.standing}}</td>
      <td>{{guest.isawesome}}</td>
    </tr>
  </table>


</div>
<div ng-hide="conSec.fileInput.data">
<br>
THIS IS THE ALL LISTS TABLE
<br>


    <input type="search" ng-model="listsFilter" placeholder="filter..." aria-label="filter..." />
    <table class="lists-table">
      <tr>
        <th>.\/.</th>
        <th ng-click="listsTableOrder('name')">List Name<span ng-show="listsTableSort ==='name'">^^</span></th>
        <th ng-click="listsTableOrder('owner')">Owner<span ng-show="listsTableSort ==='owner'">^^</span></th>
        <th ng-click="listsTableOrder('origEvent')">Orig Event<span ng-show="listsTableSort ==='origEvent'">^^</span></th>
        <th ng-click="listsTableOrder('guestCount')">GuestCount<span ng-show="listsTableSort ==='guestCount'">^^</span></th>
      </tr>
      <tr ng-repeat="list in lists.listsArray | orderBy: listsTableSort:listsTableSortReverse | filter:listsFilter as results">
      <td><button ng-click="lists[pOrS].currentList = list.name" ng-show="lists[pOrS].currentList !== list.name">SELECT</button><span ng-show="lists[pOrS].currentList === list.name">ACTIVE</span></td>
        <td>{{list.name}}</td>
        <td>{{list.owner}}</td>
        <td>{{list.origEvent}}</td>
        <td>{{list.guestCount}}</td>
      </tr>
    </table>

</div>

</div>
