<div class="login-bar">

    <form name="loginFormHere" novalidate class="css-form" ng-submit="loginFormHere.$valid && (createUserOpen ? passwordsMatch() && create(loginFormHere) : login(loginFormHere))">
      Email: <input type="email" name="email" ng-model="loginFormData.email" required/>
      Password: <input type="password" name="password" ng-model="loginFormData.password" ng-pattern="/^(?=.*\d)(?=.*[a-zA-Z]).{6,36}$/" required/>
      <div class="login-bar-confirm" ng-show="createUserOpen === true">
      Confirm: <input type="password" name="confirm" ng-model="loginFormData.confirm" ng-required="{{createUserOpen ? 'true'  : 'false' }}" login-password="{{loginFormData.password}}" login-confirm="{{loginFormData.confirm}}" login-open="{{createUserOpen}}" />
      </div>

      <input type="button" ng-click="toggleLoginCreate()" value="{{createUserOpen ? 'already have account' : 'create new account' }}" />

      <input class="{{loginFormHere.$valid ? 'enabled' : 'disabled'}}" type="submit" value="{{createUserOpen ? 'create' : 'login'}}"/>

      <div id="login-bar-error">

         <span class="error" ng-show="loginFormHere.email.$error['email']">- Not a valid email address! - </span>
         <span class="error" ng-show="loginFormHere.password.$error.pattern && !loginFormHere.email.$error['email']">
         - Password must be > 6 characters and contain a letter and a number - </span>
         <span class="error" ng-show="(loginFormData.password != loginFormData.confirm) && createUserOpen && !loginFormHere.password.$error.pattern && !loginFormHere.email.$error['email']">
           - Passwords do not match - </span>

    </div>
    </form>
</div>
