<controller ng-controller="MessagesController" class="messages messages-html">
  <div class="section-above-table">
    <div class="filter-add messages-filter-add">
        <div class="filter-section">
          <input class="filter" type="search" ng-model="tableFilter" placeholder="Filter Messages..." aria-label="filter..." />
        </div>
        <div class="add-section">
          <div class="add-icon"></div><div class="add-title">{{dispatch.names.new + " " + dispatch.names.message}}</div>
        </div>
      </div>
    </div>
    <div class="section-for-table">
        <table-fixed-dir></table-fixed-dir>
    </div>
    <div class="section-after-table">
    </div>

</controller>
