
<div class="selection-bar" ng-show="users.primary.currentSelection.id">

  <div ng-if="pOrS === 'primary'" id="{{pOrS === 'primary' ? 'selectedUserPrimary' : 'selectedUserSecondary'}}" class="selected-tab selected-home-tab home" ng-click="dispatch[pOrS].currentTab = 'home'"  ng-class="{active: dispatch[pOrS].currentTab === 'home'}">
    <div class="home-icon selected-icon"></div><!-- <div class="selected-title">Invite Again</div> -->
  </div>

  <div id="{{pOrS === 'primary' ? 'selectedUserPrimary' : 'selectedUserSecondary'}}" class="selected-tab selected-user-tab users" ng-click="dispatch[pOrS].currentTab = 'users'" ng-class="{active: dispatch[pOrS].currentTab === 'users'}">
    <div class="users-icon selected-icon"></div><div ng-hide="dispatch[pOrS].currentTab === 'users'" class="selected-title">{{dispatch.names.user}}</div><div ng-show="dispatch[pOrS].currentTab === 'users'">{{dispatch.currentSelectedTabName(pOrS)}}</div>
  </div>

  <div id="{{pOrS === 'primary' ? 'selectedGroupPrimary' : 'selectedGroupSecondary'}}" class="selected-tab selected-group-tab groups" ng-show="groups[pOrS].currentSelection.id" ng-click="dispatch[pOrS].currentTab = 'groups'" ng-class="{active: dispatch[pOrS].currentTab === 'groups'}">
    <div class="groups-icon selected-icon"></div><div  ng-hide="dispatch[pOrS].currentTab === 'groups'" class="selected-title">{{dispatch.names.group}}</div><div ng-show="dispatch[pOrS].currentTab === 'groups'">{{dispatch.currentSelectedTabName(pOrS)}}</div>
  </div>

  <div id="{{pOrS === 'primary' ? 'selectedEventPrimary' : 'selectedEventSecondary'}}" class="selected-tab selected-event-tab events"  ng-show="events[pOrS].currentSelection.id" ng-click="dispatch[pOrS].currentTab = 'events'"  ng-class="{active: dispatch[pOrS].currentTab === 'events'}">
    <div class="events-icon selected-icon"></div><div  ng-hide="dispatch[pOrS].currentTab === 'events'" class="selected-title">{{dispatch.names.event}}</div><div ng-show="dispatch[pOrS].currentTab === 'events'">{{dispatch.currentSelectedTabName(pOrS)}}</div>
  </div>

  <div id="{{pOrS === 'primary' ? 'selectedListPrimary' : 'selectedListSecondary'}}" class="selected-tab selected-list-tab lists" ng-show="lists[pOrS].currentSelection.id" ng-click="dispatch[pOrS].currentTab = 'lists'"  ng-class="{active: dispatch[pOrS].currentTab === 'lists'}">
    <div class="lists-icon selected-icon"></div><div  ng-hide="dispatch[pOrS].currentTab === 'lists'" class="selected-title">{{dispatch.names.list}}</div><div ng-show="dispatch[pOrS].currentTab === 'lists'">{{dispatch.currentSelectedTabName(pOrS)}}</div>
  </div>

  <div id="{{pOrS === 'primary' ? 'selectedListPrimary' : 'selectedListSecondary'}}" class="selected-tab selected-guest-tab guests" ng-show="guests[pOrS].currentSelection.id" ng-click="dispatch[pOrS].currentTab = 'guests'" ng-class="{active: dispatch[pOrS].currentTab === 'guests'}">
    <div class="guests-icon selected-icon"></div><div ng-hide="dispatch[pOrS].currentTab === 'guests'" class="selected-title">{{dispatch.names.guest}}</div><div ng-show="dispatch[pOrS].currentTab === 'guests'">{{dispatch.currentSelectedTabName(pOrS)}}</div>
  </div>


  <div ng-if="pOrS === 'secondary'" id="{{pOrS === 'primary' ? 'selectedUserPrimary' : 'selectedUserSecondary'}}" class="selected-tab selected-menu-tab menu" ng-click="dispatch[pOrS].currentTab = 'menu'"  ng-class="{active: dispatch[pOrS].currentTab === 'menu'}">
    <div class="menu-icon selected-icon"></div><!-- <div class="selected-title">Menu</div> -->
  </div>

</div>


<!--   <div id="toolbar-{{pOrS}}" class="toolBar">
    <div class="usersTabButton tabButton" ng-click="pOrS === 'primary' ? changePrimaryTab('users') : changeSecondaryTab('users')">USERS</div>
    <div ng-hide="events[pOrS].currentEvent" class="groupTabButton tabButton" ng-click="pOrS === 'primary' ? changePrimaryTab('groups') : changeSecondaryTab('groups')"></div>
    <div ng-show="groups[pOrS].currentGroup" class="eventsTabButton tabButton" ng-click="pOrS === 'primary' ? changePrimaryTab('events') : changeSecondaryTab('events')">EVENTS</div>
    <div ng-show="groups[pOrS].currentGroup" class="listsTabButton tabButton" ng-click="pOrS === 'primary' ? changePrimaryTab('lists') : changeSecondaryTab('lists')">LISTS</div>
    <div ng-show="groups[pOrS].currentGroup" class="listsTabButton tabButton" ng-click="pOrS === 'primary' ? changePrimaryTab('guests') : changeSecondaryTab('guests')">GUESTS</div>
    <div class="messagesTabButton tabButton" ng-click="pOrS === 'primary' ? changePrimaryTab('messages') : changeSecondaryTab('messages')">MESSAGES</div>
  </div> -->

  <div ng-switch="dispatch[pOrS].currentTab" class="fill-parent">
    <group-dir class="fill-parent" ng-switch-when="groups"></group-dir>
    <event-dir class="fill-parent" ng-switch-when="events"></event-dir>
    <list-dir class="fill-parent" ng-switch-when="lists"></list-dir>
    <user-dir class="fill-parent" ng-switch-when="users"></user-dir>
    <guest-dir class="fill-parent" ng-switch-when="guests"></guest-dir>
  </div>

<!--   <div class="closeSelection" ng-click="dispatch[pOrS].currentTab = 'groups'; groups[pOrS].currentGroup = null; events[pOrS].currentEvent = null; lists[pOrS].currentList = null">X</div>
<div class="closeSelection" ng-click="dispatch[pOrS].currentTab = 'groups'; groups[pOrS].currentGroup = null; events[pOrS].currentEvent = null; lists[pOrS].currentList = null">X</div>
<div class="closeSelection" ng-click="events[pOrS].currentEvent = null; lists[pOrS].currentList = null">X</div>
<div class="closeSelection" ng-click="lists[pOrS].currentList = null">X</div>-->

