
<div id="{{pOrS === 'primary' ? selected-bar-primary : selcted-bar-secondary}}" class="selection-bar" ng-show="users.currentUsername">

  <div id="{{pOrS === 'primary' ? 'selectedUserPrimary' : 'selectedUserSecondary'}}" class="selected-tab selected-user-tab users" ng-click="dispatch[pOrS].currentTab = 'users'">
    <div class="selected-title">{{users.currentUsername}}</div>
  </div>

  <div id="{{pOrS === 'primary' ? 'selectedGroupPrimary' : 'selectedGroupSecondary'}}" class="selected-tab selected-group-tab groups" ng-show="groups[pOrS].currentGroup" ng-click="dispatch[pOrS].currentTab = 'groups'">
    <div class="selected-title">{{groups[pOrS].currentGroup}}</div>
  </div>

  <div id="{{pOrS === 'primary' ? 'selectedEventPrimary' : 'selectedEventSecondary'}}" class="selected-tab selected-event-tab events"  ng-show="events[pOrS].currentEvent" ng-click="dispatch[pOrS].currentTab = 'events'">
    <div class="selected-title">{{events[pOrS].currentEvent}}</div>
  </div>

  <div id="{{pOrS === 'primary' ? 'selectedListPrimary' : 'selectedListSecondary'}}" class="selected-tab selected-list-tab lists" ng-show="lists[pOrS].currentList" ng-click="dispatch[pOrS].currentTab = 'lists'">
    <div class="selected-title">{{lists[pOrS].currentList}}</div>
  </div>

</div>


<!--   <div id="toolbar-{{pOrS}}" class="toolBar">
    <div class="usersTabButton tabButton" ng-click="pOrS === 'primary' ? changePrimaryTab('users') : changeSecondaryTab('users')">USERS</div>
    <div ng-hide="events[pOrS].currentEvent" class="groupTabButton tabButton" ng-click="pOrS === 'primary' ? changePrimaryTab('groups') : changeSecondaryTab('groups')"></div>
    <div ng-show="groups[pOrS].currentGroup" class="eventsTabButton tabButton" ng-click="pOrS === 'primary' ? changePrimaryTab('events') : changeSecondaryTab('events')">EVENTS</div>
    <div ng-show="groups[pOrS].currentGroup" class="listsTabButton tabButton" ng-click="pOrS === 'primary' ? changePrimaryTab('lists') : changeSecondaryTab('lists')">LISTS</div>
    <div ng-show="groups[pOrS].currentGroup" class="listsTabButton tabButton" ng-click="pOrS === 'primary' ? changePrimaryTab('guests') : changeSecondaryTab('guests')">GUESTS</div>
    <div class="messagesTabButton tabButton" ng-click="pOrS === 'primary' ? changePrimaryTab('messages') : changeSecondaryTab('messages')">MESSAGES</div>
  </div> -->

  <div ng-switch="dispatch[pOrS].currentTab">
    <group-dir ng-switch-when="groups"></group-dir>
    <event-dir ng-switch-when="events"></event-dir>
    <list-dir ng-switch-when="lists"></list-dir>
    <user-dir ng-switch-when="users"><user-dir>
  </div>

<!--   <div class="closeSelection" ng-click="dispatch[pOrS].currentTab = 'groups'; groups[pOrS].currentGroup = null; events[pOrS].currentEvent = null; lists[pOrS].currentList = null">X</div>
<div class="closeSelection" ng-click="dispatch[pOrS].currentTab = 'groups'; groups[pOrS].currentGroup = null; events[pOrS].currentEvent = null; lists[pOrS].currentList = null">X</div>
<div class="closeSelection" ng-click="events[pOrS].currentEvent = null; lists[pOrS].currentList = null">X</div>
<div class="closeSelection" ng-click="lists[pOrS].currentList = null">X</div>-->

