<div ng-controller="UsersController" class="users-html">
  <div ng-hide="users[pOrS].currentUser">
    <div  class="users-toolbar"> ALL AVAILABLE USERS </div>

    <input type="search" ng-model="usersFilter" placeholder="filter..." aria-label="filter..." />
    <table class="users-table table">
      <tr>
        <th>.\/.</th>
        <th ng-click="usersTableOrder('name')">User Name<span ng-show="usersTableSort ==='name'">^^</span></th>
        <th ng-click="usersTableOrder('email')">Email<span ng-show="usersTableSort ==='email'">^^</span></th>
        <th ng-click="usersTableOrder('date')">Date Joined<span ng-show="usersTableSort ==='date'">^^</span></th>
        <th ng-click="usersTableOrder('inGroups')"># of Groups<span ng-show="usersTableSort ==='inGroups'">^^</span></th>
      </tr>
      <tr ng-class-odd="'odd-table-row'" ng-repeat="user in users.userArray | orderBy: usersTableSort:usersTableSortReverse | filter:usersFilter as results">
      <td><button ng-click="users[pOrS].currentUser = user.name; dispatch[pOrS].currentTab = 'users'" ng-show="users[pOrS].currentUser !== user.name">SELECT</button><span ng-show="users[pOrS].currentGuest === user.name">ACTIVE</span></td>
        <td>{{user.name}}</td>
        <td>{{user.email}}</td>
        <td>{{user.date}}</td>
        <td>{{user.inGroups}}</td>
      </tr>
    </table>
  </div>

</div>
