<div ng-controller="UsersController" class="users user-html">
  <!-- <div class="selected-user"> SELECTED USER PAGE </div> -->

    <div id="toolbar-{{pOrS}}" class="toolbar users">

      <div ng-class="{'active-toolbar-button': users[pOrS].currentToolbarButton === 'groups'}" class="groups users-toolbar-button toolbar-button" ng-click="users[pOrS].currentToolbarButton = 'groups'">
        <div class="groups-icon toolbar-icon"></div><div class="toolbar-title">Groups</div>
      </div>

      <div ng-class="{'active-toolbar-button': users[pOrS].currentToolbarButton === 'events'}" class="events events-toolbar-button toolbar-button" ng-click="users[pOrS].currentToolbarButton = 'events'">
        <div class="events-icon toolbar-icon"></div><div class="toolbar-title">Events</div>
      </div>
      <!-- <div ng-class="{'active-toolbar-button': users[pOrS].currentToolbarButton === 'lists'}" class="lists lists-toolbar-button toolbar-button" ng-click="users[pOrS].currentToolbarButton = 'lists'">MY LISTS</div> -->
      <div ng-class="{'active-toolbar-button': users[pOrS].currentToolbarButton === 'messages'}" class="messages messages-toolbar-button toolbar-button" ng-click="users[pOrS].currentToolbarButton = 'messages'">
        <div class="messages-icon toolbar-icon"></div><div class="toolbar-title">Messages</div>
      </div>
      <div ng-class="{'active-toolbar-button': users[pOrS].currentToolbarButton === 'edit'}" class="edit edit-toolbar-button toolbar-button" ng-click="users[pOrS].currentToolbarButton = 'edit'">
        <div class="users-icon toolbar-icon"></div><div class="toolbar-title">Edit</div>
      </div>
    </div>

  <div ng-switch="users[pOrS].currentToolbarButton">
  <div ng-switch-when="edit" class="edit">
    EDIT USER MENU - save button - cancel button
  </div>
    <events-dir ng-switch-when="events"></events-dir>
    <lists-dir ng-switch-when="lists"></lists-dir>
    <messages-dir ng-switch-when="messages"></messages-dir>
    <groups-dir ng-switch-default></groups-dir>
  </div>





</div>
