html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  cursor: default;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*----group clear fix ------*/
.group:before,
.group:after {
  content: "";
  display: table;
}

.group:after {
  clear: both;
}

.group {
  clear: both;
  *zoom: 1;
}

/*----=====   GRID =======-------*/
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /*-webkit-box-sizing: padding-box;
  -moz-box-sizing: padding-box;
  box-sizing: padding-box;*/
  /*-webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;*/
}

.users {
  background-color: coral;
}

.groups {
  background-color: #00bbff;
}

.events {
  background-color: #ff003c;
}

.lists {
  background-color: #00ff44;
}

.messages {
  background-color: #505050;
}

.home, .title {
  background-color: #4400ff;
}

.menu {
  background-color: #ffc300;
}

.edit {
  background-color: rgba(0, 0, 0, 0.3);
}

table, th, td {
  border: 1px solid black;
}

td, th {
  padding: .24em 1em .24em 1em;
}

/*td{
  margin: 1px, 2px, 1px, 2px;
}

th{
  margin: 1px, 2px, 1px, 2px;
}*/
tr.odd-table-row {
  background-color: rgba(0, 0, 0, 0.18);
}

.table {
  margin: 0 auto;
}

.table th {
  font-weight: bold;
}

.group-table {
  text-align: center;
}

.group-table tr:first-child {
  background-color: yellow;
  color: black;
}

.events-table tr:first-child {
  background-color: yellow;
  color: black;
}

btn, .app-title, .home-tab, .menu-tab, .selected-tab, .toolbar-button, #main-menu-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.nav {
  height: 3rem;
}

.app-title {
  float: left;
  height: 100%;
  width: 10rem;
  font-size: 1em;
  vertical-align: top;
  -webkit-border-top-left-radius: 10px 10px;
  -webkit-border-top-right-radius: 10px 10px;
  -moz-border-border-top-left-radius: 10px 10px;
  -moz-border-border-top-right-radius: 10px 10px;
  -ms-border-top-left-radius: 10px 10px;
  -ms-border-top-right-radius: 10px 10px;
  border-top-left-radius: 10px 10px;
  border-top-right-radius: 10px 10px;
  background-color: #4400ff;
}

.home-tab {
  height: 100%;
  width: 12%;
  font-size: 1em;
  vertical-align: top;
  -webkit-border-top-left-radius: 10px 10px;
  -webkit-border-top-right-radius: 10px 10px;
  -moz-border-border-top-left-radius: 10px 10px;
  -moz-border-border-top-right-radius: 10px 10px;
  -ms-border-top-left-radius: 10px 10px;
  -ms-border-top-right-radius: 10px 10px;
  border-top-left-radius: 10px 10px;
  border-top-right-radius: 10px 10px;
}

.menu-tab {
  height: 100%;
  width: 12%;
  font-size: 1em;
  vertical-align: top;
  -webkit-border-top-left-radius: 10px 10px;
  -webkit-border-top-right-radius: 10px 10px;
  -moz-border-border-top-left-radius: 10px 10px;
  -moz-border-border-top-right-radius: 10px 10px;
  -ms-border-top-left-radius: 10px 10px;
  -ms-border-top-right-radius: 10px 10px;
  border-top-left-radius: 10px 10px;
  border-top-right-radius: 10px 10px;
}

.selected-tab {
  height: 100%;
  width: 21.5%;
  font-size: 1em;
  vertical-align: top;
  -webkit-border-top-left-radius: 10px 10px;
  -webkit-border-top-right-radius: 10px 10px;
  -moz-border-border-top-left-radius: 10px 10px;
  -moz-border-border-top-right-radius: 10px 10px;
  -ms-border-top-left-radius: 10px 10px;
  -ms-border-top-right-radius: 10px 10px;
  border-top-left-radius: 10px 10px;
  border-top-right-radius: 10px 10px;
}

.selection-bar {
  display: inline-block;
  height: 4rem;
  width: 100%;
  padding-top: 1rem;
}

.toolbar {
  display: inline-block;
  height: 4rem;
  width: 100%;
  padding-top: 1rem;
}

.toolbar-button {
  height: 100%;
  width: 18%;
  font-size: 1em;
  vertical-align: top;
  -webkit-border-top-left-radius: 10px 10px;
  -webkit-border-top-right-radius: 10px 10px;
  -moz-border-border-top-left-radius: 10px 10px;
  -moz-border-border-top-right-radius: 10px 10px;
  -ms-border-top-left-radius: 10px 10px;
  -ms-border-top-right-radius: 10px 10px;
  border-top-left-radius: 10px 10px;
  border-top-right-radius: 10px 10px;
}

.home-icon {
  display: inline-block;
  width: 100%;
  height: 100%;
  background-image: url("../img/home-icon-white.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.menu-icon {
  display: inline-block;
  width: 100%;
  height: 100%;
  background-image: url("../img/gear-icon.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak, .ng-hide {
  display: none !important;
}

html {
  font-family: "Helvetica", Helvetica;
  text-align: center;
  color: white;
  font-size: 16px;
}

body {
  width: 100%;
  height: 100%;
  background-color: white;
  overflow: hidden;
}

#main-menu-button {
  height: 100%;
  width: 10em;
  font-size: 1em;
  vertical-align: top;
  -webkit-border-top-left-radius: 10px 10px;
  -webkit-border-top-right-radius: 10px 10px;
  -moz-border-border-top-left-radius: 10px 10px;
  -moz-border-border-top-right-radius: 10px 10px;
  -ms-border-top-left-radius: 10px 10px;
  -ms-border-top-right-radius: 10px 10px;
  border-top-left-radius: 10px 10px;
  border-top-right-radius: 10px 10px;
  background-color: #ffc300;
  color: white;
  float: right;
}

#main-menu {
  background-color: black;
  display: inline-block;
  width: 200px;
  height: 300px;
  position: fixed;
  top: 4rem;
  right: 0px;
  border: 1px solid white;
}

.login-bar {
  display: inline-block;
  width: 100%;
  height: 4rem;
  background-color: cyan;
}

.css-form input.ng-invalid.ng-touched {
  background-color: #FA787E;
}

/*.css-form input.ng-valid.ng-touched {
  background-color: #78FA89;
}*/
.login-bar-confirm {
  display: inline-block;
  width: auto;
  height: 100%;
}

#login-bar-error {
  display: inline-block;
  width: 100%;
  height: 1.2rem;
  color: red;
  font-weight: bold;
}

#main-view {
  display: block;
  height: 100vh;
  width: 100%;
  padding-bottom: 4rem;
}

#main-view-primary {
  display: inline-block;
  height: 100%;
  width: 49%;
  overflow: scroll;
  border: 1px solid red;
}

#main-view-middle {
  display: inline-block;
  height: 100%;
  width: 2%;
  border: 1px solid white;
}

#main-view-secondary {
  display: inline-block;
  height: 100%;
  width: 49%;
  overflow: scroll;
  border: 1px solid red;
}

/*# sourceMappingURL=index.css.map */
